* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono NF";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.85;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fab387;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces button {
    color: #313244;
    border-radius: 50%;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: rgba(17, 17, 27, 0.5);
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-power_btn,
#custom-power_profile,
#custom-key_binding,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#workspaces,
#backlight {
    background: rgba(30, 30, 46, 1);
    opacity: 0.85;
    margin-right: 5px;
}

/* === MODULES & COMPONENTS === */

/* === START LEFT MODULE === */
#custom-launch_wofi {
    color: #89b4fa;
    margin-top: 10px;
    border: 1px solid #a6adc8;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#workspaces {
    border: 1px solid #a6adc8;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#cpu {
    margin-top: 8px;
    border: 1px solid #a6adc8;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#memory {
    border: 1px solid #a6adc8;
    border-top: 0;
    border-bottom: 0;
}

#disk {
    border: 1px solid #a6adc8;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#window {
    margin-top: 8px;
}

/* === END === */

/* === START CENTER MODULE === */
#custom-updates {
    border: 1px solid #fab387;
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#clock {
    border: 1px solid #fab387;
    border-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* === END === */

/* === START RIGHT MODULE === */
#battery {
    color: #a6e3a1;
    background: #191724;
    border: 1px solid #a6e3a1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#backlight {
    margin-top: 8px;
    border: 1px solid #89b4fa;
    border-bottom: 0;
    padding-top: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#pulseaudio {
    color: #89b4fa;
    border: 1px solid #89b4fa;
    border-top: 0;
    border-bottom: 0;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border: 1px solid #89b4fa;
    border-top: 0;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#tray {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 5px 0;
    border: 1px solid #a6adc8;
    border-radius: 8px;
}

/* === END === */

