window {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.5);
}
button {
  color: #ffffff;
  background-color: #323844;
  /* border-style: solid; */
  /* border-width: 2px; */
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 8px;
  border-radius: 10px;
}

button:focus,
button:active,
button:hover {
  background-color: #96cdfb;
  outline-style: none;
  color: #000000;
  box-shadow: 0px 0px 10px 4px #96cdfb;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}
#lock:focus,
#lock:active,
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}
#logout:focus,
#logout:active,
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}
#suspend:focus,
#suspend:active,
#suspend:hover {
  background-image: image(url("./icons/suspend-hover.png"));
}

#hibernate {
  background-image: image(
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}
#shutdown:focus,
#shutdown:active,
#shutdown:hover {
  background-image: image(url("./icons/shutdown-hover.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}
#reboot:focus,
#reboot:active,
#reboot:hover {
  background-image: image(url("./icons/reboot-hover.png"));
}
