window {
    margin: 0px;
    border: 5px solid #1e1e2e;
    background-color: rgba(205, 214 ,244,0.9);
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: #1e1e2e;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid #1e1e2e;
    color: #cdd6f4;
    font-weight: bold;
    background-color: #1e1e2e;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: #1e1e2e;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img:selected {
    background-color: #89b4fa;
    border-radius: 15px;
}

#text {
    padding-left: 10px;
}
#text:selected {
    color: #cdd6f4;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry {
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}
#entry:selected {
    background-image: linear-gradient(90deg, #5ebbff, #a174ff);
}
